<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<center>
    <div class="container-fluid home-content2" style="background-color: orange;">
        <h1>Expense Management System</h1>
        <h6><span>Here, We can manage our all daily Expenses.</span></h6>
        <button  type="button"  class="btn btn-default"><a class="a" href="{{url_for('login')}}" class="ml-2">Login / Sign Up</a></button>
    </div>    
    <div style="background-color: whitesmoke;" class="container-fluid home-content2 ">
        <h3>What is Expanse Management System <span class="blinker">?</span></h3>
        <p>Expense Management System is system or site through which we can manage our daily Expenses.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, eaque! Quod consequatur natus ipsum tempora, consectetur unde eos deserunt earum nobis quos laboriosam nesciunt perferendis possimus provident porro consequuntur quam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus officiis nesciunt non distinctio nostrum ipsam quisquam provident laudantium? Et dolor obcaecati sint earum alias explicabo dicta aperiam vel amet.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates perspiciatis ipsa doloribus harum unde officia quibusdam, eveniet velit numquam libero quas tempore, in consectetur adipisci debitis cumque maxime architecto quae?</p>
    
    </div>
    
    <div style="background-color: rgb(241, 120, 64);" class="container-fluid home-content2 ">
        <h3>Expense Management System</h3>
        <p><span>Here, We manage personal daily Expenses...</span> </p>
    </div>
</center>
</body>
</html>