<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid home-main" style="margin-bottom:0px; margin-top: 0px;">
        
        <h1>Expense Management System</h1>
        <h6>Here, We can manage our all daily Expenses.</h6>
        <button type="button"  class="btn btn-default"><a class="a" href="{{url_for('login')}}" class="ml-2">Login / Sign Up</a></button>
    </div>
    <div class="container-fluid home-content1">
        <div class="row">
            <div class="col-md-6 content1">
                <h3>What is Expanse Management System <span class="blinker">?</span></h3>
                <p>Expense Management System is system or site through which we can manage our daily Expenses.</p>
                <div class="content1-left"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid home-content2">
        <p><span>News</span> and <span>announcements</span> for all things <span>Bootstrap</span>, including new
            <span>releases</span> and <span>Bootstrap Themes</span>.</p>
    </div>
</body>
</html>