<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Expense Management Log In page</title>
  </head>
  <body>
    <br><br><br><br><br><br><br><br><br><br>
    <center>
     <h2>Log In Page</h2>
      <form method="post">
        <div>
          <input type="text" placeholder="EnterUsername" name="u_name" required>
          <br><br>
          <input type="password" placeholder="Enter Password" name="pass" required>
          <br><br>
          <button type="submit">Log In</button>
        </div>
      </form>
      <br>
      <a href="{{url_for('signup')}}"><button type="About ">Signup</button></a>
    </center>
  </body>
</html>
