{% extends 'layout.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Update - Expense Management Site</title>
</head>

<body>
  <br>
  <center>
    <h2>Update Your Expense</h2>
    <br>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </center>

  <form method="post" >
    <div class="form-row">
    <div class="col  mx-sm-5">
      <label>Date</label>
      <input type="date" class="form-control" name="date" value="{{rows['date_']}}" required>
    </div>
    <div class="col mx-sm-5">
      <label>Your Name</label>
      <input type="text" class="form-control" name='name' value="{{rows['name']}}" required>
    </div>
    <div class="col mx-sm-5">
      <label>Product Name</label>
      <input type="text" class="form-control" name='prod_name' value="{{rows['Products']}}" required>
    </div> 
  </div>
  <br>
    <div class="form-row">
    <div class="col  mx-sm-5">
      <label>Product Quantity</label>
      <input type="text" class="form-control" name='prod_Qty' value="{{rows['prod_qnty']}}" required>
    </div>

    <div class="col mx-sm-5">
      <label>Product Price</label>
      <input type="text" class="form-control" name='price' value="{{rows['prod_price']}}" required>
    </div>
    
  </div>
  </div>
  <br><br>
  <center>
    <div class="form-row">
    <div class="col mx-sm-5"> 
      <button class="btn btn-primary" type="submit">Update Expense</button>
    </div>
    </div>
  </center>
  <br><br>
</form>
</body>

</html>
{% endblock %}