{% extends 'layout.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Edit - Expense Management Site</title>
</head>
<body>
  <br><br>
  <center>
    <h2>Edit Your Expenses</h2>
    <br>
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
      {% endfor %}  
    {% endif %}
  {% endwith %} 
  
    <form method="post" class="row g-3 needs-validation" novalidate">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Date</label>
        <!-- <input type="date" placeholder="Enter Date" name="date" required> -->
        <input type="date" class="form-control" id="validationDefault01" name="date" placeholder="Enter Date" value="{{rows['date_']}}" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="validationDefault02" name='name' placeholder="Enter Your Name" value="{{rows['name']}}" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="validationDefault02" name='prod_name' placeholder="Enter Product Name" value="{{rows['Products']}}" required>
      </div> 
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Product Quantity</label>
        <input type="text" class="form-control" id="validationDefault02" name='prod_Qty' placeholder="Enter Product Quantity" value="{{rows['prod_qnty']}}" required>
      </div>
       <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Product Price</label>
        <input type="text" class="form-control" id="validationDefault02" name='price' placeholder="Enter Product Price" value="{{rows['prod_price']}}" required>
        <br><br>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">User id</label>
        <input type="text" class="form-control" id="validationDefault02" name='user-id' placeholder="Enter Unique User Id" value="{{rows['user_id']}}" required>
      </div>
      
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Save Expenses</button>
        <br><br><br>
      </div>
      
    </form>
  </center>
</body>

</html>
{% endblock %}