{% extends 'layout.html'%}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='view.css')}}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<center><h1>All Expenses</h1></center>

{% with messages=get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
{{msg}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <div class="">
    <table class="table table-striped custab">
      
      <thead class="">
        <tr>
          <th>Date</th>
          <th>Id</th>
          <th>Name</th>
          <th>Products</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>User Id</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>

      {% for row in rows %}
      <tr>
        <td>{{row["date_"]}}</td>
        <td>{{row["id"]}}</td>
        <td>{{row["name"]}}</td>
        <td>{{row["products"]}}</td>
        <td>{{row["prod_qnty"]}}</td>
        <td>{{row["prod_price"]}}</td>
        <td>{{row["user_id"]}}</td>
        <td class="text-center">
          <a class='btn btn-info btn-sm' href="/update/{{row.id}}"><span class="glyphicon glyphicon-edit"></span>Update</a> 
          <a href="/delete/{{row.id}}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br><br>
{% endblock %} 